.contenedor{
  width: 100%;
     background: #e1b5fa;
    background: -moz-linear-gradient(45deg, #f7f3fa 0%, #f3e3ee 47%, #f5e0f8 100%);
    background: -webkit-linear-gradient(45deg, #f6e7ff 0%, #fde6f6 47%, #f9defd 100%);
    background: linear-gradient(45deg, #e8d4f3 0%, #f7deee 47%, #eddbf0 100%);

}

.name{
    margin-top: 50px;
    margin-left: 450px;
    font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
letter-spacing: 0px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
margin-bottom: 50px;
}

.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    cursor:pointer
   }
   
   .button::before,
   .button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .button::before {
    left: -10px;
    background: #f7baf7;
   }
   
   .button::after {
    right: -10px;
    background: #ff7cde;
   }
   
   .button:hover::before,
   .button:hover::after {
    width: 58%;
   }
   
   .button:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   .button span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
}

.divBtn{
  
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contenedorSelect{
  
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.containerSelect {
  padding-left: 1rem;
  width: 100%;
  overflow: auto;
}

.selectWrapper {
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding: 0 10px;
}

select {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}


.contpag{
  
  justify-content: center;
padding-left: 230px;
}


.btnPyN{
  
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}


.card {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px;
}

.comida{
  width: 20rem;

}

.contImg{
 
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.contenidoSearch{

  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
}